<footer class="page-footer grey darken-4 white-text">
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s2">
        Documentation for <a href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}">{{ site.title }}</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s10 offset-s2">
          Copyright &copy; 2017, all the <strong>dataHaskell</strong> contributors
        </div>
      </div>
    </div>
  </div>
</footer>

