<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">
      <div class="background">
        <img id="header-img" class="responsive-img" src="https://github.com/DataHaskell/datahaskell.github.io/raw/master/images/banner.jpg">
      </div>
        <a href="{{ site.baseurl }}/"><img class="responsive-img"
                                           src="http://www.datahaskell.org/images/logo.png">
        </a>
    </div>
  </li>
  {% for section in site.sections %}
  {% assign attr = section[0] %}
  {% assign label = section[1] %}

  {% for page in site.categories[attr] %}
  {% if forloop.first %}
  <li><div style="opacity:50%;" class="divider"></div></li>
  <li ><a class="subheader">{{ label }}</a></li>
  {% endif %}
  <li data-order="{{ page.order }}"><a class="waves-effect" href="{{ site.baseurl }}{{ page.url
      }}">{{ page.title }}</a></li>
  {% endfor %}
  {% endfor %}
  <!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
