<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.subtitle }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <script src="{{ site.baseurl }}/toc.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col s2">
          {% include navigation.html %}
        </div>

        <div id="content" class="col s9">
          {{ content }}
        </div>

        <div class="col s1">
            <div id="toc"></div>
          </div>
        </div>
      </div>

      {% if page.disqus == 1 %}
      <div class="row">
        {% if site.navigation == 1 or post_count > 0 %}
        <div id="navigation" class="col s2"></div>
        <div id="disqus" class="col s10">
          {% include disqus.html %}
        </div>
        {% else %}
        <div id="disqus" class="col s12">
          {% include disqus.html %}
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>

    {% include footer.html %}
    <script>
function orderNav() {
  var list,
  section,
  header,
  sections = [],
  lists = {},
  headers = {};

  var navUl = document.querySelectorAll('#navigation ul')[0],
  navLis = document.querySelectorAll('#navigation ul li');

  if (!navUl) return;

  for (var i = 0; i < navLis.length; i++) {
    var order, li = navLis[i];

    if (li.classList.contains('nav-header')) {
      section = li.textContent || li.innerText;
      sections.push(section);
      headers[section] = li;
      continue;
    }

    if (!lists[section]) {
      lists[section] = [];
    }

    order = parseFloat(li.getAttribute('data-order'))
      lists[section].push([order, li]);
  }

  for (var i = 0; i < sections.length; i++) {
    section = sections[i];
    list = lists[section].sort(function(a, b) {
      return a[0] - b[0];
    });

    if (header = headers[section]) {
      navUl.appendChild(header);
    }
    for (var j = 0; j < list.length; j++) {
      navUl.appendChild(list[j][1]);
    }
  }
}

if (document.querySelectorAll) orderNav();
$(document).ready(function(){
  $('#toc').toc({
    headers: "h2", 
    showSpeed: 0,
    title: '',
    listType: "ul",
    classes: { list: 'p-coll pinned section table-of-contents ',
               item: ''
             }
  });
  $('h2').prepend('<hr>');

  $('.hackage').addClass('fa fa-cube').attr('title', 'Hackage');
  $('.github').addClass('fa fa-github').attr('title', 'GitHub');
  $('.darcs').addClass('fa fa-code-fork').attr('title', 'DARCS');
  $('.blogpost').addClass('fa fa-file-text').attr('title', 'Blog Post');
  $('#content ul').addClass('collection');
  $('#content ul li').addClass('collection-item');
  $('#content img').addClass('responsive-img');
});
    </script>
    {% if site.google_analytics_id != "" %}
    {% include google_analytics.html %}
    {% endif %}
  </body>
</html>
